In [2]:
import pandas as pd

In [3]:
uk=pd.read_csv('iphone_co.uk.csv')
india=pd.read_csv('iphone_in.csv')
us=pd.read_csv('iphone_com.csv')
de=pd.read_csv('iphone_de.csv')
fr=pd.read_csv('iphone_fr.csv')
it=pd.read_csv('iphone_it.csv')
es=pd.read_csv('iphone_es.csv')
jp=pd.read_csv('iphone_jp.csv')
nl=pd.read_csv('iphone_nl.csv')

In [4]:
uk.head()

,Title,Price,Discount,Rating,Number of Ratings,Delivery Details
0,Apple,£449.00,0,4.7 out of 5 stars,"3,632","Fri, 28 Mar"
1,Apple,£739.00,0,4.5 out of 5 stars,209,"Fri, 28 Mar"
2,Apple,£639.00,0,4.6 out of 5 stars,"4,577","Fri, 28 Mar"
3,"Apple iPhone 13, 128GB, Midnight - (Renewed)",£290.00,0,4.0 out of 5 stars,747,"Thu, 27 Mar"
4,"Apple iPhone 12, 64GB, Black (Renewed)",£193.00,0,4.0 out of 5 stars,"10,389","Tomorrow, 26 Mar"

In [5]:
# Combine all datasets into a single dataframe
combined_df = pd.concat([uk, india, us, de, fr, it, es, jp, nl], keys=['UK', 'India', 'US', 'DE', 'FR', 'IT', 'ES', 'JP', 'NL'])

# Reset index to have a clean dataframe
combined_df.reset_index(level=0, inplace=True)
combined_df.rename(columns={'level_0': 'Country'}, inplace=True)
combined_df.drop(columns=['Delivery Details'], inplace=True)

# Format the 'Price' column to float
combined_df['Price'] = combined_df['Price'].replace(r'[\€,£,$,¥,₹,￥]', '', regex=True).replace('', '0').astype(float)

# Format the 'Rating' column to float with only the first value
combined_df['Rating'] = combined_df['Rating'].str.extract(r'(\d+\.\d+)').astype(float)

# Format the 'Number of Ratings' column to int, filling NaN values with 0
combined_df['Number of Ratings'] = pd.to_numeric(combined_df['Number of Ratings'].str.replace(r'[\.,\xa0]', '', regex=True), errors='coerce').fillna(0).astype(int)

# Display the combined dataframe
print(combined_df.head())

  Country                                         Title  Price  Discount  \
0      UK                                         Apple  449.0         0
1      UK                                         Apple  739.0         0
2      UK                                         Apple  639.0         0
3      UK  Apple iPhone 13, 128GB, Midnight - (Renewed)  290.0         0
4      UK        Apple iPhone 12, 64GB, Black (Renewed)  193.0         0

   Rating  Number of Ratings
0     4.7               3632
1     4.5                209
2     4.6               4577
3     4.0                747
4     4.0              10389

In [6]:
# Descriptive analysis for numerical columns
print(combined_df.describe())

# Descriptive analysis for categorical columns
print(combined_df['Country'].value_counts())
print(combined_df['Rating'].value_counts())
print(combined_df['Title'].value_counts().head(10))  # Display top 10 most frequent titles

               Price      Discount      Rating  Number of Ratings
count     296.000000    316.000000  106.000000         316.000000
mean    28528.578103    385.433544    4.135849        4549.174051
std     34202.553198   2077.168709    0.435822       16514.779257
min         0.000000      0.000000    2.000000           0.000000
25%      1066.750000      0.000000    4.000000           0.000000
50%     18289.000000      0.000000    4.200000         158.000000
75%     46906.750000      0.000000    4.400000        1904.000000
max    179800.000000  17981.000000    5.000000      213178.000000
Country
JP       60
FR       48
IT       48
ES       48
NL       48
UK       16
India    16
US       16
DE       16
Name: count, dtype: int64
Rating
4.3    14
4.4    13
4.0    12
4.2    12
4.5    12
4.1    11
4.6     6
3.8     5
3.7     4
3.5     4
4.7     2
3.6     2
3.9     2
2.9     1
2.0     1
5.0     1
3.2     1
4.8     1
3.0     1
2.8     1
Name: count, dtype: int64
Title
Apple                                                                                                                                                                                                     8
Apple iPhone XR 64GB - Nero (Ricondizionato)                                                                                                                                                              2
ソニー Xperia 10V ブラック SIMフリースマホ XQ-DC44 B 【日本正規代理店品】                                                                                                                                                        1
Samsung Galaxy S25 512GB｜シルバー シャドウ｜Galaxy AI対応｜SIMフリースマホ 本体 端末｜FeliCa対応｜Samsung純正 国内正規品｜6.2インチ｜軽量162g｜IP68防水防塵｜フルHD+｜バッテリー 4,000mAh｜SM-S931QZSFSJP                                                        1
Apple Gift Card (Eメール送信)— App Store、iTunes、iPhone、iPad、AirPods、MacBook、アクセサリなどの購入に利用できます。                                                                                                                 1
Galaxy Z Fold6｜512GB｜シルバーシャドウ｜Galaxy AI対応｜SIMフリー スマホ 本体 端末｜Samsung純正 国内正規品｜折りたたみAIフォン｜FeliCa対応｜メインディスプレイ7.6インチ｜バッテリー 4,400mA｜SM-F956QZSESJP                                                               1
【専用アプリ不要 データ移行簡単】４in1 iPhone対応 USBメモリ アプリ不要 128GB データ 高速 バックアップ 写真保存 外付け USB iOS/Type-C/USB/Micro usb搭載 iPad対応 usbメモリー スライド式 スマホ/PC/iPad対応 容量不足解消 ピンク Phone 15/14Pro/12 Pro Max/SE/8 Plus/Pad/タイプc機種対応    1
Galaxy Z Flip6 ｜512GB｜シルバーシャドウ｜Galaxy AI対応｜SIMフリー スマホ 本体 端末｜Samsung純正 国内正規品｜折りたたみAIフォン｜FeliCa対応｜メインディスプレイ7.6インチ｜バッテリー 4,000mAh｜SM-F741QZSESJP                                                             1
【2025正規MFi認証品】i-Phone 充電ケーブル ライトニングケーブル 純正品質【1M/2M 各２本】充電器 ケーブル 2.4A急速充電 USB 充電コード 高速データ転送 断線防止 高耐久 i-Phone 14/14 Pro/13/13 Pro/12/11/X/8/8plus/7/6/iPad 各種対応                                             1
Xiaomi POCO F6 Pro 12GB+256GB 日本語版 Simフリー スマートフォン Qualcomm Snapdragon 8 Gen 2搭載 120Hz 有機ELディスプレイ 120W Xiaomiハイパーチャージ ブラック                                                                                 1
Name: count, dtype: int64

In [7]:
combined_df.to_csv('iphone_combined.csv', index=False)

In [8]:
combined_df.to_excel('iphone_combined.xlsx', index=False)